<!--
  --  The login form
  -->

<div id="login-form">
<table>
<tr>
  <td>Username</td>
  <td><INPUT NAME="username" VALUE="$FORM_username"></td>
</tr>
<tr>
  <td>Password</td>
  <td><INPUT NAME="password" VALUE="$FORM_password" TYPE="password"></td>
</tr>
<tr>
  <td colspan="2" nowrap align="center">
    <input type="submit" name="button" value="Login & Accept Terms">
    <a href="http://172.168.92.254/register.php">REGISTER</a>
  </td>
</tr>
</table>
</div>
