<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const myParams = urlParams.get('uid');
    window.location.replace('http://172.168.92.254/checklogin.php?uid='+myParams);
</script>